.footer {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* position: fixed;
  left: 0;
  bottom: 0; */
  margin-top: auto;
  text-align: center;
  width: 100%;
  color: greenyellow;
  font-size: 1.2rem;
  font-weight: 575;
  padding: 0px 16px;
  background-color: mediumslateblue;
  border: none;
  border-radius: 10px;
}
